form div {
    margin-bottom: 10px; 
  }
  
  
  .container {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f0f8ff; 
    border-radius: 10px; 
  }
  
  
  .form {
    background-color: #f0f8ff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .form div {
    margin-bottom: 20px; 
  }
  
  label {
    display: block; 
  }
  

.tags-input {
    width: 300px; 
  }
  .error {
    color: red;
  }
  