
<div class="container">
<h1>Welcome to Online Book Store</h1>
<div class="container">
  <form [formGroup]="postsForm" (ngSubmit)="getPostsForTags()" class="form">
    <div>
      <label for="tags">Tags:</label>
      <input formControlName="tags"
       type="text" 
       id="tags" 
       placeholder="Enter tags separated by commas" 
       class="form-control tags-input"
      (ngModelChange)="tagsInputChange($event)" required>
      <span class="error" *ngIf="areTagsEmpty">Tags are required</span>
    </div>
    <div>
      <label for="sortBy">Sort By:</label>
      <select id="sortBy" formControlName="sortBy">
        <option value="id">None</option>
        <option value="id">Id</option>
        <option value="reads">Reads</option>
        <option value="likes">Likes</option>
        <option value="popularity">Popularity</option>
      </select>
    </div>
    <div>
      <label for="direction">Direction:</label>
      <select id="direction" formControlName="direction">
        <option value="asc">None</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" >Get Posts</button>
  </form>
</div>

<h2>Posts</h2>
<div *ngIf="posts.length > 0; else noPosts">
  <div *ngFor="let post of posts" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post.author }}</h5>
      <p class="card-text">ID: {{ post.id }}</p>
      <p class="card-text">Likes: {{ post.likes }}</p>
      <p class="card-text">Popularity: {{ post.popularity }}</p>
      <p class="card-text">Reads: {{ post.reads }}</p>
      <p class="card-text">Tags: {{ post.tags.join(', ') }}</p>
    </div>
  </div>
</div>
<ng-template #noPosts>
  <p>No posts found.</p>
</ng-template>
</div>